/*
 * Copyright 2022 Dwindra Sulistyoutomo
 */

/* Color list */
:root {
  --main-color: rgba(139, 143, 102,1);
  --main-color-opacity: rgba(29,128,159,0.8);
  --main-color-hover: rgba(29,128,159,0.5);
  --nav-bg-color: rgba(245, 215, 194,1);
  --nav-color: rgba(44,62,80,1);

  --main-color-filter: invert(59%) sepia(13%) saturate(783%) hue-rotate(26deg) brightness(91%) contrast(86%);
}

/* Size and Position*/
:root {
  --nav-height: 50px;
  --nav-offset: 2vh;
}

/* ========== Fonts ========== */
.body {
  font-family: 'IBM Plex Sans Condensed';
  font-size: 1rem;
}

/* default heading setting */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans Condensed';
  color: var(--main-color);
}

.text-montserrat {
  font-family: 'Montserrat';
}
.text-josefin-sans {
  font-family: 'Josefin Sans';
}


/* ========== Background ========== */
.bg {
  position: absolute;
  max-height: 100vh;
  max-width: 100vw;
}
.img-bg, .img-bg-mobile{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: right bottom;
  opacity: 1.0;
}
.img-bg-mobile {
  opacity: 1.0;
  display: none;
}

/* ========== Menu ========== */
.nav-section {
  position: fixed;
  z-index: 10;
  bottom: var(--nav-offset);
  width: 100vw;
  max-width: 100vw;
  height: auto;
  transition: all 0.4s ease 0s;
}
.nav-wrapper {
  height: var(--nav-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  background: rgba(255,255,255,0.5);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.nav-item {
  /* width: 3rem;
  height: 5rem; */
  color: white;
  background: var(--nav-bg-color);
  display: inline-block;
}
.nav-item:hover {
  color: white;
  background: var(--nav-bg-color);
}

/* ========== Body Contents ========== */
/* Header */
.full-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: transparent;
}
.full-page .container {
  z-index: 3;
}

/* SCREEN RESPONSIVE */
@media (max-width: 992px) {
  .full-page {
    height: calc(100vh - (var(--nav-offset) + var(--nav-height)));
    margin-bottom: calc(var(--nav-offset) + var(--nav-height));
  }
  .full-page h1 {
    font-size: 3rem;
  }
}

.img-main-logo {
  width: 80vw;
  max-width: 500px;
  filter: var(--main-color-filter);
}
.img-60vh {
  width: 60vw;
  max-width: 300px;
  filter: var(--main-color-filter);
}

.border-main-color {
  border-color: var(--main-color)!important;
}
.border-thick {
  border-width: medium!important;
}

/* ========== Map ========== */
/* Set the size of the div element that contains the map */
.map {
  height: 50vh;
  width: 100%;
  border:0
}